* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/*-- HEADER SECTION --*/

header {
    width: 100%;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

nav .nav-right-section a {
    margin-right: 0.9rem;
    color: #000000;
}