* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202124;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/*-- HEADER SECTION --*/

header {
    width: 100%;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.3rem;
    font-size: 1rem;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 1.5rem;
    color: #fff;
}
nav .nav-right-section .menu-icono {
    background-image: url('../imagenes/icono.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    margin-right: 0.9rem;
}
nav .nav-right-section img {
    border-radius: 50%;
    width: 45%;
    margin-left: 0.7rem;
}

/*--MAIN SECTION --*/

main {
    margin-top: 6rem;
    text-align: center;
}
main .main-logo {
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}
main .main-logo img {
    width: 43%;
}
main .main-input {
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}
main .main-input-container {
    width: 80%;
    margin: auto;
    border-radius: 100px;
    border: 1px solid #5f6368;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container input {
    width: 70%;
    height: 4rem;
    border: none;
    outline: none;
    background-color: #202124;
    caret-color: #fff;
}