* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primario: #202124;
    --color-secundario: #171717;
    --color-letra: #fff;
    --color-letra2: #aaa;
    --color-letra3:#7ac3ff;
    --color-boton-y-input-hover: #303134;
    --color-borde: #313335;
    --color-borde-input: #5f6368;
    --color-borde-input-hover: #333;
    --color-borde-boton: #666;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-primario);
}
a {
    text-decoration: none;
    cursor: pointer;
}

/*-- HEADER SECTION --*/

header {
    width: 100%;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.7rem;
    font-size: 0.5rem;
    align-items: center;
}
nav .nav-right-section a {
    margin-left: 0.9rem;
    color: var(--color-letra);
}
nav .nav-right-section .menu-icono {
    background-image: url('../imagenes/icono.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1rem;
    height: 1rem;
    margin-left: 0.9rem;
}
nav .nav-right-section img {
    border-radius: 50%;
    width: 30%;
}

/*--MAIN SECTION --*/

main {
    margin-top: 8rem;
    text-align: center;
}
main .main-logo {
    width: 75%;
    margin: auto;
    margin-bottom: 1rem;
}
main .main-logo img {
    width: 33%;
}
main .main-input {
    width: 75%;
    margin: auto;
    margin-bottom: 0.8rem;
}
main .main-input-container {
    width: 80%;
    margin: auto;
    border-radius: 100px;
    border: 0.1px solid var(--color-borde-input);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .main-input-container input {
    width: 70%;
    height: 2rem;
    border: none;
    outline: none;
    background-color: inherit;
    caret-color: var(--color-letra);
    color: var(--color-letra);
}
main .main-input-container:hover {
    background-color: var(--color-boton-y-input-hover);
    box-shadow: 0 1px 2px 0 #000;
    border-color: var(--color-borde-input-hover);
}
main .main-input .search-icon {
    background: url('../imagenes/search.png') center center / contain no-repeat;
    width: 0.8rem;
    height: 0.8rem;
}
main .main-input .micro-icon {
    background: url('../imagenes/micro2.png') center center / contain no-repeat;
    width: 0.8rem;
    height: 0.8rem;
}
main .main-input .lens-icon {
    background: url('../imagenes/lens2.png') center center / contain no-repeat;
    width: 1.2rem;
    height: 1.2rem;
}
main .main-buttons {
    width: 75%;
    margin: auto;
    margin-bottom: 0.8rem;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    background-color: var(--color-boton-y-input-hover);
    border: 1px solid var(--color-boton-y-input-hover);
    font-size: 0.5rem;
    color: var(--color-letra);
    border-radius: 1px;
    padding: 0.4rem 0.8rem;
}
main .main-buttons button:hover {
    border: 0.1px solid var(--color-borde-boton);
}
main .main-language p {
    color: var(--color-letra2);
    font-size: 0.5rem;
    font-weight: 100;
}
main .main-language a {
    color: var(--color-letra3);
}
main .main-language a:hover {
    text-decoration: underline;
}

/*-- FOOTER SECTION --*/

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--color-secundario);
    color: var(--color-letra);
    font-size: 0.5rem;
    font-weight: bold;
}
footer .footer-country {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--color-borde);
}
footer .footer-options {
    display: flex;
    justify-content: center;
}
footer .footer-options .footer-left {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    list-style: none;
    padding: 0.8rem;
}
footer .footer-left a {
    color: var(--color-letra);
    margin: 1rem;
}
footer .footer-left a:hover {
    color: var(--color-letra);
    text-decoration: underline;
}
footer .footer-options .footer-right {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0.8rem;
}
footer .footer-right a {
    color: var(--color-letra);
    margin: 1rem;
}
footer .footer-right a:hover {
    color: var(--color-letra);
    text-decoration: underline;
}

/*-- MEDIA QUERIES --*/

@media screen and (min-width: 600px) {

    /*-- HEADER SECTION --*/
    header nav .nav-right-section {
        padding-top: 1.2rem;
        font-size: 1rem;
        margin-right: 0.8rem;
    }
    nav .nav-right-section .menu-icono {
        width: 1.7rem;
        height: 1.7rem;
        margin-left: 1.5rem;
    }
    nav .nav-right-section img {
        width: 70%;
    }

    /*-- MAIN SECTION --*/
    main .main-logo img {
        width: 55%;
    }
    main .main-input {
        margin-bottom: 1.6rem;
    }
    main .main-input-container input {
        height: 4rem;
    }
    main .main-input .search-icon {
        width: 1.6rem;
        height: 1.6rem;
    }
    main .main-input .micro-icon {
        width: 1.6rem;
        height: 1.6rem;
    }
    main .main-input .lens-icon {
        width: 2.4rem;
        height: 2.4rem;
    }
    main .main-buttons {
        margin-bottom: 1.6rem;
    }
    main .main-buttons button {
        font-size: 1rem;
        padding: 0.8rem 1.6rem;
    }
    main .main-language p {
        font-size: 1rem;
    }

    /*-- FOOTER SECTION --*/
    footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px) {

    /*-- HEADER SECTION --*/
    header nav .nav-right-section {
        padding-top: 1.2rem;
        font-size: 1.4rem;
        margin-right: 1.5rem;
    }
    nav .nav-right-section .menu-icono {
        width: 2.2rem;
        height: 2.2rem;
        margin: 0rem 1rem 0rem 1.5rem;
    }
    nav .nav-right-section img {
        width: 80%;
    }

    /*-- MAIN SECTION --*/
    main .main-logo img {
        width: 35%;
    }
    main .main-logo {
        margin-bottom: 2rem;
    }
    main .main-input {
        width: 50%;
        margin-bottom: 3rem;
    }
    main .main-input-container input {
        height: 4.2rem;
    }
    main .main-input .search-icon {
        width: 1.9rem;
        height: 1.9rem;
    }
    main .main-input .micro-icon {
        width: 1.8rem;
        height: 1.8rem;
    }
    main .main-input .lens-icon {
        width: 2.6rem;
        height: 2.6rem;
    }
    main .main-buttons {
        margin-bottom: 1.8rem;
    }
    main .main-buttons button {
        font-size: 1.5rem;
        padding: 0.8rem 1.6rem;
        margin-right: 1rem;
    }
    main .main-language p {
        font-size: 1.4rem;
    }

    /*-- FOOTER SECTION --*/
    footer {
        font-size: 1.5rem;
        font-weight: 100;
    }
    footer .footer-options {
        display: flex;
        justify-content: space-between;
    }
}